body {
    padding: 3rem 1.5rem;
    background-image: url(/images/bg-pattern-top-mobile.svg), url(/images/bg-pattern-bottom-mobile.svg);
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.header {

    max-width: 600px;
    margin: 0 auto;

    &__title {
        text-align: center;
    }

    &__subtitle {
        text-align: center;
        margin-top: 1.5rem;
    }
}

.main {

    margin: 0 auto;
    margin-top: 2rem;
    max-width: 600px;

    &__rating {
        text-align: center;
        padding: 1rem;
        background-color: var(--light-grayish-magenta);
        margin-top: 1rem;
        border-radius: .5rem;

        .flex {
            display: flex;
            justify-content: center;
            gap: .5rem;
        }

        &__text {
            margin-top: .7rem;
        }
    }
}

.reviews {

    max-width:  600px;
    margin: 0 auto;

    &__list {
        padding: 0;
        list-style: none;

        &__review {
            
            background-color:
            var(--very-dark-magenta);
            
            padding: 1.85rem;
            margin: 0;
            margin-bottom: 1rem;
            border-radius: .5rem;
            
            .flex1 {
                display: flex;
                align-items: center;
                gap: 1.5rem;
            }

            &__image {
                width: 45px;
                border-radius: 50%;
            }

            &__text{
                margin-top: 1rem;
            }
        }
    }
}

@media (min-width: 1115px) {

    body {
        background-image: url(/images/bg-pattern-top-desktop.svg);
        background-repeat: no-repeat;
    }

    .container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 12rem;
        row-gap: 4rem;
        max-width: 1113px;

        .header {
            grid-column: 1 / span 1;
            
            &__title {
                text-align: left;
                width: 12ch;
            }

            &__subtitle {
                text-align: left;
                width: 38ch;
            }
        }

        .main {

            grid-column: 2 / 3;
            margin: 0;

            &__rating {
                margin: 0;
                margin-left: auto;

                padding: 1.25rem 3rem;
                max-width: 100%;
                margin-bottom: 1rem;
                display: flex;
                align-items: center;
                justify-content: space-between;

                &__star {
                    width: 17px;
                    height: 16px;
                }

                &__text {
                    margin: 0;
                }
            }

            &__rating:nth-child(1) {
                margin-top: .5rem;
                position: relative;
                left: -15%;
            }

            &__rating:nth-child(2) {
                position: relative;
                left: -7.5%;
            }
        }

        .reviews {
        
            display: flex;
            flex-direction: column;
            grid-column: span 2;
            
            &__list {
                
                display: flex;
                justify-content: center;
                gap: 2rem;
                margin: 0;
        
                &__review {
                    min-width: 350px;
                    margin:0 ;
                }
                
                &__review:nth-child(2) {
                    position: relative;
                    top: 10%;
                }
        
                &__review:nth-child(3) {
                    position: relative;
                    top: 20%
                }
            }
        }
    }
}